-- ================================================================
-- CPMNHS iVote — School Year Rollover Migration
-- ================================================================

-- 1. Modify voters table to allow new statuses
ALTER TABLE public.voters DROP CONSTRAINT IF EXISTS voters_status_check;
ALTER TABLE public.voters ADD CONSTRAINT voters_status_check 
    CHECK (status IN ('pending', 'approved', 'rejected', 'graduated', 'inactive'));

-- 2. Add academic_history JSONB column to voters
ALTER TABLE public.voters ADD COLUMN IF NOT EXISTS academic_history JSONB DEFAULT '[]'::jsonb;

-- 3. Create system_settings table for global settings
CREATE TABLE IF NOT EXISTS public.system_settings (
    id INT PRIMARY KEY CHECK (id = 1),
    current_school_year VARCHAR(20) DEFAULT '2026-2027',
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Insert default system settings row if it doesn't exist
INSERT INTO public.system_settings (id, current_school_year)
VALUES (1, '2026-2027')
ON CONFLICT (id) DO NOTHING;

-- 4. Enable RLS on system_settings
ALTER TABLE public.system_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Enable all access for system_settings" ON public.system_settings;
CREATE POLICY "Enable all access for system_settings" ON public.system_settings FOR ALL USING (true);

-- Done!
